@{
    Layout = "_Layout";
}

<div class="home-content">
    <h2>About Me</h2>
    <p>Hi, I'm <strong>Faiezun Binti Mohamad Faizal</strong>, a CT206 student learning about web development. I'm passionate about creating dynamic and responsive web applications. This project showcases my skills in <strong>ASP.NET Core</strong>, a powerful framework for building modern web apps.</p>

    <h2>Project Introduction</h2>
    <p>This project, <strong>YouTubeApiProject</strong>, is designed to demonstrate how to integrate with the YouTube API to search for videos, channels, and trending content. <br /> It features a user-friendly interface and provides real-time data from YouTube.</p>
</div>
